<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>Categorias</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{{url_for('static', filename = 'img/logo.png')}}" width="13%" height="13%">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('hello')}}">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Categorias</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Procure algo..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
          </form>
        </div>
      </nav>
    </header>
    <main>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{url_for('static', filename = 'img/slide5.jpg')}}" class="d-block w-100" alt="">
          </div>
      </div>
    </main>
    <br><br><br>
    <div id="about-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="main-title">Categoria: Headshot</h3>
          </div>
        </div>
      </div>
    </div>
    <section class="module-page-title">
      <div class="container">
        <div class="row-page-title">
          <div class="page-title-captions">
            <h1 class="h5">Descrição da kill</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="portfolio-content">
              <div class="image-slider">
                <video width="750" height="600" controls src="{{url_for('static', filename = 'videos/hs1.mp4')}}"></video>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="portfolio-sidebar">
              <div class="portfoli-details">
                <ul>
                  <li>
                    <h5>Área para curtir:</h5> ...
                  </li>
                  <hr>
                  <li>
                    <h5>Área para visualizações:</h5> ...
                  </li>
                  <hr>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Deixe seu comentário"></textarea>
                      <div class="validation"></div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br><br>
    <section class="module-page-title">
        <div class="container">
          <div class="row-page-title">
            <div class="page-title-captions">
              <h1 class="h5">Descrição da kill</h1>
            </div>
          </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="portfolio-content">
                <div class="image-slider">
                  <video width="750" height="600" controls src="{{url_for('static', filename = 'videos/hs2.mp4')}}"></video>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="portfolio-sidebar">
                <div class="portfoli-details">
                  <ul>
                    <li>
                      <h5>Área para curtir:</h5> ...
                    </li>
                    <hr>
                    <li>
                      <h5>Área para visualizações:</h5> ...
                    </li>
                    <hr>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Deixe seu comentário"></textarea>
                        <div class="validation"></div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <br><br><br>
    <footer class="footer">
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center"><span class="copyright">© 2020 - Todos os direitos reservados - <a href="#">Pedro Vasconcelos</a></span></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'bootstrap/js/jquery-3.5.1.min.js')}}"></script>
</body>
</html>