{% extends 'base.html' %}
{% block body %}
    <main>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{url_for('static', filename = 'img/slide4.jpg')}}" class="d-block w-100" alt="">
          </div>
      </div>
    </main>
    <br><br><br>
    <div id="about-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="titulo">Categoria: Triple kill</h3>
          </div>
        </div>
      </div>
    </div>
    <section class="area_title">
      <div class="container">
        <div class="row-page-title">
          <div class="page-title-captions">
            <h1 class="h5">Retake para retomar área perto do bomb</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="suporte_img">
              <div class="image-slider">
                <video width="750" height="500" controls src="{{url_for('static', filename = 'videos/triple2.mp4')}}"></video>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="suporte_descriptions">
              <div class="descriptions">
                <ul>
                  <li>
                    <h5>Área para curtir: Número de curtidas</h5> <br> <button class="btn btn-green">Curtir</button>
                  </li>
                  <hr>
                  <li>
                    <h5>Área para visualizações:</h5> ...
                  </li>
                  <hr>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Deixe seu comentário"></textarea>
                      <div class="validation"></div>
                      <br>
                      <button class="btn btn-green">Comentar</button>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br><br>
    <section class="area_title">
        <div class="container">
          <div class="row-page-title">
            <div class="page-title-captions">
              <h1 class="h5">Retake pela costas impedindo o plant.</h1>
            </div>
          </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="suporte_img">
                <div class="image-slider">
                  <video width="750" height="500" controls src="{{url_for('static', filename = 'videos/triple1.mp4')}}"></video>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="suporte_descriptions">
                <div class="descriptions">
                  <ul>
                    <li>
                      <h5>Área para curtir: Número de curtidas</h5> <br> <button class="btn btn-green">Curtir</button>
                    </li>
                    <hr>
                    <li>
                      <h5>Área para visualizações:</h5> ...
                    </li>
                    <hr>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Deixe seu comentário"></textarea>
                        <div class="validation"></div>
                        <br>
                        <button class="btn btn-green">Comentar</button>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <br><br><br>

{%endblock%}