html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: "Hind", Arial, serif;
    line-height: 1.85;
    font-weight: 400;
    font-size: 15px;
    color: #999;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
    color: #444;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

a:hover {
    outline: 0;
    text-decoration: none;
    color: black;
}

h1 > a,
h3 > a,
h5 > a {
    color: #444;
}

h1 > a:hover,
h3 > a:hover,
h5 > a:hover {
    color: black;
}

p,
ul,
ol,
h1,
h3,
h5 {
    margin: 0 0 20px;
}

h1,
h3,
h5,
.h5 {
    font-family: "Poppins", Arial, serif;
    line-height: 1.2;
    font-weight: 700;
    color: #444;
}

h1,
.h1 {
    font-size: 40px;
}

h3,
.h3 {
    font-size: 24px;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 10px;
}

hr {
    border-color: rgba(238, 238, 238, .9);
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

ul > li,
ol > li {
    margin: 0 0 5px;
}

#about-area {
    background-color: #fff;
}

.titulo2 {
    color: #444;
    font-size: 40x;
    text-align: center;
}

.titulo {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40x;
    text-align: center;
}

.titulo::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.area_title {
    background-color: #FAFAFA;
    padding: 60px 0 30px;
}

.area_title .h5 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 17px;
    margin: 0;
}

.suporte_descriptions {
    padding-left: 30px;
}

.descriptions {
    border-top: 1px solid rgba(238, 238, 238, .9);
    border-bottom: 1px solid rgba(238, 238, 238, .9);
    padding: 20px 0;
    margin: 0 0 0;
}

.descriptions ul {
    margin: 0;
}

.descriptions > ul > li {
    margin: 0 0 20px;
}

.descriptions li > h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0 0 5px;
}

#menu_categoria {
    background: #fff;
    padding-bottom: 80px;
}

#menu_categoria .theme-title h2,
#menu_categoria .theme-title p {
    color:#fff;
}
  
#menu_categoria .row {
    margin: 50px 0 0 0;
}
  
#menu_categoria .row [class*="col-"] {
    padding-top: 25px;
}
  
#menu_categoria .unica_categoria {
    border:1px solid #808489;
    text-align: center;
    margin-bottom: 20px;
    padding: 118px 23px 65px 23px;
    overflow: hidden;
}
  
#menu_categoria .unica_categoria p {
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    opacity: 0;
    -webkit-transform: translate3D(0,200px,0);
       -moz-transform: translate3D(0,200px,0);
        -ms-transform: translate3D(0,200px,0);
         -o-transform: translate3D(0,200px,0);
            transform: translate3D(0,200px,0);
}
  
#menu_categoria .unica_categoria .movimento_titulo {
    position: absolute;
    width: 100%;
    left:0;
    right: 0;
    top:100px;
}
  
#menu_categoria .unica_categoria .movimento_titulo .icon {
    font-size: 48px;
    color:#808489;
    width: 80px;
    margin: 0 auto;
    background: #232a34;
}
  
#menu_categoria .unica_categoria .movimento_titulo a {
    color:#444;
    text-transform: capitalize;
    margin-top: 25px;
}
  
#menu_categoria .unica_categoria:hover .movimento_titulo {
    top:-10px;
}
  
#menu_categoria .unica_categoria:hover p {
    opacity: 1;
    color: #444;
    -webkit-transform: translate3D(0,0,0);
       -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
         -o-transform: translate3D(0,0,0);
            transform: translate3D(0,0,0);
}

.comp,
p,
ul{
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.btn {
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-green {
    background: green;
    color: #fff;
    box-shadow: 0 5px 0 #006000;
}

.btn-green:hover {
    background: #006000;
    color: #fff;
    box-shadow: 0 5px 0 #003f00;
}

.btn-green:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.footer {
    position: relative;
    background: black;
    color: #bfbfbf;
}

.footer a {
    color: #fff;
}

.footer a:hover,
.footer a:focus {
    color: #444;
    opacity: .7;
}

.footer .copyright {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, .05);
    padding: 20px 0;
}

.comments-container {
   margin: 60px auto 15px;
   width: 768px;
   text-align: left;
}

.comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
}

.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}

.comments-list {
   margin-top: 30px;
   position: relative;
}

.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.comments-list .comment-avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
}

.comments-list .comment-avatar img {
   width: 100%;
   height: 100%;
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}

.comments-list .comment-box {
   width: 680px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: green;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: green;}
.comment-box .comment-name.by-author:after {
   content: 'autor';
   background: green;
   color: #FFF;
   font-size: 12px;
   padding: 3px 5px;
   font-weight: 700;
   margin-left: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}