html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: "Hind", Arial, serif;
    line-height: 1.85;
    font-weight: 400;
    font-size: 15px;
    color: #999;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
    color: #444;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

a:hover {
    outline: 0;
    text-decoration: none;
    color: black;
}

h1 > a,
h3 > a,
h5 > a {
    color: #444;
}

h1 > a:hover,
h3 > a:hover,
h5 > a:hover {
    color: black;
}

p,
ul,
ol,
h1,
h3,
h5 {
    margin: 0 0 20px;
}

h1,
h3,
h5,
.h5 {
    font-family: "Poppins", Arial, serif;
    line-height: 1.2;
    font-weight: 700;
    color: #444;
}

h1,
.h1 {
    font-size: 40px;
}

h3,
.h3 {
    font-size: 24px;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 10px;
}

hr {
    border-color: rgba(238, 238, 238, .9);
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

ul > li,
ol > li {
    margin: 0 0 5px;
}

#about-area {
    background-color: #fff;
}

.main-title2 {
    color: #444;
    font-size: 40x;
    text-align: center;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40x;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.module-page-title {
    background-color: #FAFAFA;
    padding: 60px 0 30px;
}

.module-page-title .h5 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 17px;
    margin: 0;
}

.portfolio-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.8;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.portfolio-sidebar {
    padding-left: 30px;
}

.portfoli-details {
    border-top: 1px solid rgba(238, 238, 238, .9);
    border-bottom: 1px solid rgba(238, 238, 238, .9);
    padding: 20px 0;
    margin: 0 0 0;
}

.portfoli-details ul {
    margin: 0;
}

.portfoli-details > ul > li {
    margin: 0 0 20px;
}

.portfoli-details li > h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0 0 5px;
}

.btn {
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-green {
    background: green;
    color: #fff;
    box-shadow: 0 5px 0 #006000;
}

.btn-green:hover {
    background: #006000;
    color: #fff;
    box-shadow: 0 5px 0 #003f00;
}

.btn-green:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.footer {
    position: relative;
    background: black;
    color: #bfbfbf;
}

.footer a {
    color: #fff;
}

.footer a:hover,
.footer a:focus {
    color: #444;
    opacity: .7;
}

.footer .copyright {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, .05);
    padding: 20px 0;
}

#service-section {
    background: #fff;
    padding-bottom: 80px;
}

#service-section .theme-title h2,
#service-section .theme-title p {
    color:#fff;
}
  
#service-section .row {
    margin: 50px 0 0 0;
}
  
#service-section .row [class*="col-"] {
    padding-top: 25px;
}
  
#service-section .single-service-content {
    border:1px solid #808489;
    text-align: center;
    margin-bottom: 20px;
    padding: 118px 23px 65px 23px;
    overflow: hidden;
}
  
#service-section .single-service-content p {
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    opacity: 0;
    -webkit-transform: translate3D(0,200px,0);
       -moz-transform: translate3D(0,200px,0);
        -ms-transform: translate3D(0,200px,0);
         -o-transform: translate3D(0,200px,0);
            transform: translate3D(0,200px,0);
}
  
#service-section .single-service-content .icon-heading {
    position: absolute;
    width: 100%;
    left:0;
    right: 0;
    top:100px;
}
  
#service-section .single-service-content .icon-heading .icon {
    font-size: 48px;
    color:#808489;
    width: 80px;
    margin: 0 auto;
    background: #232a34;
}
  
#service-section .single-service-content .icon-heading a {
    color:#444;
    text-transform: capitalize;
    margin-top: 25px;
}
  
#service-section .single-service-content:hover .icon-heading {
    top:-10px;
}
  
#service-section .single-service-content:hover p {
    opacity: 1;
    color: #444;
    -webkit-transform: translate3D(0,0,0);
       -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
         -o-transform: translate3D(0,0,0);
            transform: translate3D(0,0,0);
}

.tran3s,
#team-section h6,
#team-section p,
#team-section ul{
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
 }